@model WeatherForecastApp.Models.SearchByCity

@{
    ViewData["Title"] = "SeachByCity";
}
<div class="container">
    <form method="post">
        <div class="container">
            <h2>Search By City Name</h2>
            <div>
                <input asp-for="CityName" class="form-control" placeholder="Enter city name ..." />
                <button asp-controller="WeatherForecast" asp-action="SearchByCity" class="btn btn-outline-primary ">Search</button>

            </div>
            <span asp-validation-for="CityName" class="text-danger"> </span>
        </div>
    </form>
</div>